{% extends 'base.html.twig' %}

{% block title %}Les articles{% endblock %}

{% block stylesheets %}
<style>
p{
  line-height:1.2em;
  height:1.2em;
  overflow:hidden;
}
</style>

{% endblock %}

{% block body %}

    <section>
        {% for article in articles %}
            <article class="py-3">
                <img src="https://via.placeholder.com/350x200" alt="{{ article.titre}}" class="img-thumbnails">
                <h2>{{ article.titre }}</h2>
                {{ article.content  | raw }}
                <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} by Autor</div>
                <a href="{{path('blog_show', {'id': article.id}) }}" class="btn btn-primary my-2">Lire la suite</a>
            </article>
        {% endfor %}
    </section>

{% endblock %}
