{% extends 'base.html.twig' %}

{% block title %}Titre de l'article{% endblock %}

{% block body %}
    <section class="py-5">
        <article class="py-3">
            <img src="{{ article.image }}" alt="{{ article.titre}}" class="img-thumbnails">
            <h2>{{ article.titre }}</h2>
            {{ article.content  | raw }}
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} by Autor</div>
        </article>
    </section>
{% endblock body %}